[data-bs-theme="dark"] {
  --#{$prefix}gray-900: #0f0f0f;
  --#{$prefix}gray-900-rgb: to-rgb($gray-900);
  --#{$prefix}gray-800: #343a40;
  --#{$prefix}gray-100: #181818;
  --#{$prefix}gray-100-rgb: 24, 24, 24;
  --#{$prefix}gray-200: #181818;
  --#{$prefix}gray-300: #202020;
  --#{$prefix}box-shadow: 1rem 1rem 2.5rem 0 rgba(255, 255, 255, 0.05);
  --#{$prefix}box-shadow-sm: .5rem .5rem 2.5rem 0 rgba(255, 255, 255, 0.05);
  --#{$prefix}box-shadow-lg: 1.5rem 1.5rem 2.5rem 0 rgba(255, 255, 255, .175);
  --#{$prefix}box-shadow-inset: inset 0 1px 2px rgba(255, 255, 255, .075);

  .text-dark {
    color: var(--bs-white) !important;
  }

  .input-group .input-group-text,
  .form-control::file-selector-button {
    background-color: var(--#{$prefix}gray-200);
  }

  .form-control {
    &::placeholder {
      color: var(--bs-body-color);
    }
  }

  .img-light {
    display: none;
  }

  .img-dark {
    display: block;
  }

  .form-control {
    &:hover:not(:disabled):not([readonly])::file-selector-button {
      color: var(--bs-gray-200);
      background-color: var(--bs-heading-color);
    }
  }

  body {
    background-color: var(--dark-black-theme);

  }

  .card {
    background-color: var(--light-dark-theme);
  }

  #root {
    .App {
      .iq-top-navbar {
        background-color: var(--light-dark-theme) !important;

        .nav {
          background-color: var(--light-dark-theme);

        }
      }
    }
  }

  .main-content {
    #sidebar-menu {
      background-color: var(--light-dark-theme) !important;

      .nav-item {
        .nav-link {
          color: var(--white-color) !important;

          & span path {
            color: var(--white-color) !important;
            stroke: var(--white-color) !important;
          }
        }
      }

      .nav-top-child,
      .nav-bottom-childs {
        background-color: var(--light-dark-theme);

      }
    }
  }

  #content-page {
    .custom-conatiner {
      .row {
        .card-block {
          background-color: var(--light-dark-theme);

          .card-body {
            .create-post-form-cntrl {
              background-color: var(--dark-black-theme) !important;
            }
          }
        }
      }
    }
  }

  .comment-area {
    .leave-comment-area {
      .input-wrap {
        background-color: var(--dark-black-theme);
        border: var(--bs-border-width) solid var(--bs-border-color);
      }
    }
  }



  .suggestions-div {
    .sugession-title {
      color: var(--white-color);

    }

    .inner-wrapper {
      background-color: var(--light-dark-theme) !important;

      .card {
        background-color: var(--transparent-color);

        .suggestion-user-name {
          color: var(--white-color) !important;
        }
      }
    }
  }

  .iq-nav-menu .nav-item .nav-link svg,
  .iq-nav-menu .nav-item .nav-link svg {
    fill: var(--white-color) !important;
    stroke: var(--white-color) !important;

  }

  .iq-nav-menu .nav-item .nav-link span,
  .iq-nav-menu .nav-item .nav-link span {
    color: var(--white-color) !important;
  }

  .iq-top-navbar .nav .navbar-inner .bussiness-crypto-main-web-wrapper svg path {
    stroke: var(--white-color) !important;
  }

  .feeds-svg path {
    fill: var(--white-color) !important;
    stroke: var(--white-color) !important;

  }

  .sidebar.sidebar-default .nav-link:not(.static-item).active {
    color: var(--purpule-color) !important;
  }

  .create-post-form-cntrl {
    background-color: var(--dark-black-theme);
  }

  .SearchBar {
    background-color: var(--dark-black-theme) !important;

    & input {
      background-color: var(--dark-black-theme) !important;
      border-radius: 12px;
    }
  }

  .nav-fourth-li {
    .nav-link {
      .right-icon {
        color: var(--white-color) !important;
      }
    }

    .nav-link.active {
      .item-name {
        color: var(--purpule-color);
      }

      .feeds-svg path {
        fill: var(--purpule-color) !important;
        stroke: var(--purpule-color) !important;

      }

      .right-icon {
        color: var(--purpule-color) !important;
      }
    }

    [aria-expanded="true"] {
      .item-name {
        color: var(--purpule-color);
      }

      .feeds-svg path {
        fill: var(--purpule-color) !important;
        stroke: var(--purpule-color) !important;
      }

      .right-icon {
        color: var(--purpule-color) !important;
      }
    }
  }


  .special-post .comment-area .btn svg path {
    color: var(--white-color) !important;
    stroke: var(--white-color) !important;
 
  }



  .main-content:has(.feed-sub-item.active) .nav-fourth-li .item-name {
    color: var(--purpule-color) !important;
  }

  .main-content:has(.feed-sub-item.active) .nav-fourth-li .right-icon {
    color: var(--purpule-color) !important;
  }

  .main-content:has(.feed-sub-item.active) .nav-fourth-li svg path {
    color: var(--purpule-color) !important;
    fill: var(--purpule-color) !important;
    stroke: var(--purpule-color) !important;
  }

  .nav-for-mobile svg path {
    stroke: var(--white-color) !important;

  }

  .nav-for-mobile {
    background-color: var(--light-dark-theme) !important;

    .iq-nav-menu {
      background-color: var(--light-dark-theme) !important;
    }
  }



  .light-logo {
    display: none;
  }

  .dark-logo {
    display: block;
  }


  @media (max-width: 1200px) {
    #first-tour {
      background-color: var(--dark-black-theme) !important;

      .sidebar-logo {
        & svg {
          color: var(--white-color) !important;
        }
      }
    }
  }

  .create-post-icons-main .jobs-with-icon span:nth-child(2) {
    color: var(--white-color);
  }

  .create-post-icons-main .event-with-icon span:nth-child(2) {
    color: var(--white-color);

  }

  .create-post-icons-main .photo-with-icon span:nth-child(2) {
    color: var(--white-color);

  }

  .SearchBar.headerSearch {
    & circle {
      // fill: var(--white-color);
      color: var(--white-color);
    }

    & svg path {
      fill: var(--white-color);
      color: var(--white-color);

    }
  }

  .sidebar.navs-rounded-all .sidebar-body .nav-item .nav-link svg path {
    // fill: var(--white-color) !important;
    stroke: var(--white-color);
    // color: var(--white-color) !important;

  }

  .sugession-bottom {
    color: var(--white-color);
  }

  .suggestions-div {
    .inner-wrapper {
      & svg {
        fill: var(--white-color);
        color: var(--white-color);
      }
    }
  }

  .btn-bell {
    background: var(--dark-black-theme);
    border-radius: 10px;
    padding: 8px 14px;
    & svg path{
      // fill: var(--white-color);
      stroke: var(--white-color);

    }
}
.nav-item.user-dropdown{
  .card-body,
  .card-header{
    & a{
      &:hover{
        background: var(--purpule-color) !important; 
      }
    }
  }
  & svg path{
    stroke: var(--white-color);

  }
}  

.nav.navbar.navbar-expand-lg.navbar-light.iq-navbar{
  .navbar-nav.navbar-list{
    .nav-item.nav-item{
      .dropdown-menu{
background-color: var(--light-dark-theme) !important;
      }
    }
  }
}


.education-card{
  .edu-card-img{
    .nav-bar-icon{
      .dropdown{
        background-color: var(--light-dark-theme);
        .drop-menu-holder{
        background-color: var(--light-dark-theme);

        }
      }
    }
  }
}
}